//Variables

$blue: rgb(102, 170, 199);
$vert: #93c2b8;
$gris: #5e6472;
$beige: #faf3dd;
$rose: rgb(255, 166, 158);

$principal-font-family: 'Montserrat Alternates';
$paddingBloc: 15px;



body {
    min-width: 320px;
    max-width: 1440px;
    height: 100%;
    margin: auto;
    font-family: $principal-font-family;
    padding: 20px 20px;
    @media (max-width: 768px) {
        margin: 0 20px 0 0; 
    }


}

html {
    height: 100%;
}



.layout {
    display: flex;
}

.contenu {
 width: 100%;
    box-sizing: border-box;
}