@import '../../index.scss';

.card {
    position: relative;
    display: flex;
    height: 450px;
    width: 100%;
    background-color: black;
    border-radius: 20px 23px 23px 20px;
    @media (max-width: 768px) {
        height: 200px;
    }
    &__image {
        width: 100%;
        img {
            padding: 10px;
            width: 60%;
            height: 100%;
            border-radius: 20px;
            object-fit: cover;
            object-position: top left;
            box-sizing: border-box;
        }
    }
    &__couv {
        background-color: $beige;
        width: 60%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: $paddingBloc;
        box-sizing: border-box;
        color: $gris;
        @media (max-width: 768px) {
            padding: 10px 5px;
        }
        &--rose {
            background-color: $rose;
        }
        &--bleu {
            background-color: $blue;
        }
        &__text {
            align-self: self-end;
            margin: 0;
            @media (max-width: 1024px) {
                font-size: 14px;
            }
            @media (max-width: 768px) {
                font-size: 12px;
            }
        }
        &__titre {
            margin: 0;
            @media (max-width: 1024px) {
                font-size: 20px;
            }
            @media (max-width: 768px) {
                font-size: 16px;
            }
        }
    }
}

.page {
    background-color: $beige;
    position: relative;
    border-radius: 20px;
    width: 100%;
    &__projets {

        &__contenu {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        height: 850px;
        width: 100%;
        box-sizing: border-box;
            @media (max-width: 768px) {
                flex-wrap: nowrap;
                align-items: start;
                height: 100%;
            }
        &__titre {
            font-size: 48px;
            margin: 20px;
            width: 45%;
                @media (max-width: 1024px) {
                    font-size: 40px;
                }
                @media (max-width: 768px) {
                    font-size: 36px;
                    width: 100%;
                    box-sizing: border-box;
                    padding-left: 20px;
                }
            }

        &__image {
            margin: 20px;
            height: 38%;
            width: 40%;
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
                
            @media (max-width: 768px) {
                width: 80%;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            img {
                padding: 10px;
                height: 100%;
                width: 100%;
                box-sizing: border-box;
                object-fit: cover;
                object-position: top left;
                border-radius: 20px;
            }

        }
    } 
        &__description {

                font-size: 16px;
                box-sizing: border-box;
                text-align: justify;
                width: 100%;
                margin: 0;
                padding: 0 40px 50px 60px;
                line-height: 1.5;
                text-indent: 20px;
                @media (max-width: 1024px) {
                    font-size: 14px;
                }
                @media (max-width: 768px) {
                    padding: 0 0px 50px 20px;
                    width: 83%;
                }
            }
    }
       

    
    
   
    &__compet {
        position: absolute;
        top: 15%;
        left: 50%;
        writing-mode: vertical-rl;
        transform: scale(-1);
        font-size: 36px;
        color: $gris;
        @media (max-width: 1024px) {
            font-size: 30px;
        }
        @media (max-width: 768px) {
            font-size: 24px;
            left: 90%;

        }
    }
    &__lien {
        position: absolute;
        right: 40px;
        bottom: 10px;
        @media (max-width: 768px) {
            right: 10px;

        }
        
        &__icon {
            height: 50px;
            
        }



    }
    
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  
  .modal__image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
    border: 6px solid black;
  }
  
  .modal__close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 60px;
    cursor:pointer;
  }